@charset "UTF-8";

/* 공통 */
body.mobileNoScroll{overflow: hidden;}

/* .openingMask{position: fixed; top: 0; left: 0;width: 100%; height: 100%;
  z-index: 9999;}
.openingMask::before,
.openingMask::after{content: ''; position: absolute; left: 0;
  width: 100%; height: 50%; background: #fff;  transition: transform 1.2s ease;}
.openingMask::before{top: 0; transform: translateY(0);}
.openingMask::after{bottom: 0; transform: translateY(0);}
.openingMask.active::before{transform: translateY(-100%);}
.openingMask.active::after{transform: translateY(100%);} */

/* 가운데영역 */
.container{max-width: 1560px; padding: 0 20px; margin: 0 auto;}

/* 헤더 */
#headerWrap.scroll{background-color: #fff; box-shadow: 0 10px 20px rgba(0,0,0,.1);}
#headerWrap.active{background-color: #fff;}
#headerWrap{padding: 26px 105px; position: fixed; top:0; left:0; right:0; display: flex; align-items: center; justify-content: space-between; z-index: 999999; transition: all .3s;}
#headerWrap .logoBox h1 a,
#headerWrap .logoBox h1 a img{display: block;}
#headerWrap .menu .depth01{display: flex; gap: 0 70px;}
#headerWrap .menu .depth01 li{position: relative;}
#headerWrap .menu .depth01 li h2 a{position: relative; display: block; z-index: 9;}
#headerWrap .menu .depth01 li h2 a span{display: block; position: relative; font-weight: 700; color: #222; font-size: 18px; text-transform: uppercase;}
#headerWrap .menu .depth01 li:hover h2 a span{ color: #ca7702;}
#headerWrap .menu .depth01 li:hover h2 a span::before{width: 100%;}
#headerWrap .menu .depth01 li h2 a span::before{content: ''; position: absolute; bottom: -2px; left:0; width: 0; height: 2px; background-color: #cf841b; transition: all .3s;}
#headerWrap .menu .depth02{display: none; position: absolute; top:0; left:0; right:0; /*padding-top: 85px;*/ padding-top: 87px;}
#headerWrap .menu .depth02 li h3 a{display: block; /*padding: 3px 0;*/ padding: 5px 0; font-size: 15px; color: #222;}
#headerWrap .menu .depth02 li h3 a:hover{color: #ca7702;}
#headerWrap .infoBox{display: flex; align-items: center; gap: 0 15px;}
#headerWrap .infoBox a{display: flex; align-items: center;}
#headerWrap .infoBox .call{gap: 0 8px; font-weight: 700; font-size: 24px; color: #444;}
#headerWrap .infoBox .call::before{content: ''; width: 19px; height: 19px; background: url(../images/common/call_icon.png)no-repeat center;}
#headerWrap .infoBox .bar{width: 1px; height: 14px; background-color: #444;}
#headerWrap .infoBox .reg{gap: 0 13px; font-weight: 700; font-size: 18px; color: #444;}
#headerWrap .infoBox .reg::after{content: ''; width: 10px; height: 16px; background: url(../images/common/arrow_icon01.png)no-repeat center;}
#headerWrap .bg{display: none; position: absolute; top:148px; left:0; right:0; height: 200px; background-color: #fff; z-index: -1;}

@media (min-width: 1200px){
  
  .mobileBtnBox,
  .mobilebg,
  #mobileMenuWrap{display: none!important;}

}

@media (max-width: 1600px){

  #headerWrap{padding: 30px 20px;}

}

@media(max-width: 1440px){

  #headerWrap .infoBox .reg,
  #headerWrap .menu .depth01 li h2 a{font-size: 16px;}
  #headerWrap .infoBox .call{font-size: 18px;}
  #headerWrap .menu .depth01 li h2 a{padding: 0 26px;}
  #headerWrap .menu .depth01{gap: 0;}

}

@media (max-width: 1199px){

  #headerWrap .menu,
  #headerWrap .infoBox{display: none;}
  #headerWrap .logoBox h1 a img{width: 75px;}
  #headerWrap{padding: 15px 20px; background-color: rgba(255,255,255, .6)}
  #headerWrap .bg{display: none!important;}

  /* 모바일메뉴 */
  .mobileBtn{display: block; position: relative; width: 40px; height: 40px;}
  .mobileBtn span {position: absolute;left: 50%; width: 24px;  height: 2px; background: #444;
    border-radius: 2px; transform: translateX(-50%);}
  .mobileBtn span:nth-child(1){top: 12px;}
  .mobileBtn span:nth-child(2){top: 19px;}
  .mobileBtn span:nth-child(3){top: 26px;}

  .mobilebg{display: none; position: fixed; top:0; left: 0; right:0; bottom: 0; background-color: rgba(0,0,0,.7); z-index: 99999;}
  #mobileMenuWrap {display: flex; flex-direction: column; padding-top: 30px;
    position: fixed; top: 0; right: 0; bottom: 0; max-width: 500px; width: 100%;
    background-color: #fff; overflow-y: auto; transform: translateX(100%);
    transition: transform .6s cubic-bezier(0.77, 0, 0.175, 1); z-index: 999999;}
  #mobileMenuWrap.active {transform: translateX(0);}
  #mobileMenuWrap .mobilelLogoBox{padding-left: 50px;}
  #mobileMenuWrap .mobilelLogoBox h1 a{display: inline-block;}
  #mobileMenuWrap .mobilelLogoBox h1 a img{display: block;}
  #mobileMenuWrap .mobilelLogoBox h1 a img{width: 90px;}
  #mobileMenuWrap .mobileDepth01{padding: 30px 0;}
  #mobileMenuWrap .mobileDepth01 li h2 a{position: relative; padding: 20px 48px 20px 50px; display: block; text-transform: uppercase; font-weight: 700; color: #222; font-size: 20px;}
  #mobileMenuWrap .mobileDepth01 li h2{position: relative;}
  #mobileMenuWrap .mobileDepth01 li h2 a.active::after{transform: translateY(-30%) rotate(-135deg)!important;}
  #mobileMenuWrap .mobileDepth01 li h2.mobileMenu a::after{content: ''; position: absolute;
  top: 50%; right: 20px; width: 8px; height: 8px; border-right: 2px solid #000;
  border-bottom: 2px solid #000;  transform: translateY(-70%) rotate(45deg); transition: all .3s;} 
  #mobileMenuWrap .mobileDepth02{display: none;}
  #mobileMenuWrap .mobileDepth02 li h3 a{display: block; padding: 20px 20px 20px 70px; font-size: 15px; color: #222; font-size: 18px;}  
  #mobileMenuWrap .mobilelInfoBox{display: flex; margin-top: auto;}
  #mobileMenuWrap .mobilelInfoBox a{flex:1; padding: 20px 0;; display: flex; justify-content: center; align-items: center; font-weight: 700; font-size: 18px; color: #444; text-align: center;}
  #mobileMenuWrap .mobilelInfoBox .call{gap: 0 8px;}
  #mobileMenuWrap .mobilelInfoBox .call::before{content: ''; width: 19px; height: 19px; background: url(../images/common/call_icon.png)no-repeat center;}
  #mobileMenuWrap .mobilelInfoBox .reg{gap: 0 13px;}
  #mobileMenuWrap .mobilelInfoBox .reg::after{content: ''; width: 10px; height: 16px; background: url(../images/common/arrow_icon01.png)no-repeat center;}

  #mobileMenuWrap .mobileCloseBtn {position: absolute; top:20px; right:20px; width: 40px; height: 40px; padding: 0;}
  #mobileMenuWrap .mobileCloseBtn span{ position: absolute; top: 50%; left: 50%; width: 24px;
    height: 2px; background: #444;}
  #mobileMenuWrap .mobileCloseBtn span:nth-child(1){transform: translate(-50%, -50%) rotate(45deg);}
  #mobileMenuWrap .mobileCloseBtn span:nth-child(2){transform: translate(-50%, -50%) rotate(-45deg);}

}

/* 푸터 */
#footerSection,
#footerSection .fp-tableCell{height: auto!important;}
#footerSection .footerWrap{padding: 80px 0; background-color: #000;}
#footerSection .footerWrap .footerTopBox{padding: 0 20px; margin-bottom: 40px; display: flex; align-items: center; justify-content: space-between; padding-bottom: 20px; border-bottom: 1px solid #e6e6e6;}
#footerSection .footerWrap .footerTopBox .footerLink li a{display: block; color: #e6e6e6; font-weight: 500;}
#footerSection .footerWrap .footerTopBox .footerLink{display: flex; flex-wrap: wrap; gap: 0 60px;}
#footerSection .footerWrap .footerInfoBox .infoList02{display: flex; flex-wrap: wrap; gap: 0 18px}
#footerSection .footerWrap .footerInfoBox .infoList02,
#footerSection .footerWrap .footerInfoBox .infoList01{margin-bottom: 30px;}
#footerSection .footerWrap .footerInfoBox .infoList02 li,
#footerSection .footerWrap .footerInfoBox .infoList01 li,
#footerSection .footerWrap .footerInfoBox .copy{color: #9b9b9b; font-weight: 500; line-height: 1.2; word-break: keep-all;}
#footerSection .footerWrap .footerInfoBox .copy{display: block;}

@media (max-width: 767px){

  #footerSection .footerWrap{padding: 30px 0 50px;}
  #footerSection .footerWrap .footerTopBox{flex-direction: column; gap:  25px 0;}
  #footerSection .footerWrap .footerInfoBox .infoList01 li,
  #footerSection .footerWrap .footerInfoBox .copy{text-align: center;}
  #footerSection .footerWrap .footerInfoBox .infoList02{justify-content: center;}
  #footerSection .footerWrap .footerTopBox{padding: 30px 0;}
  #footerSection .footerWrap .footerTopBox nav{width: 100%;}
  #footerSection .footerWrap .footerTopBox .footerLink{gap: 30px 0;}
  #footerSection .footerWrap .footerTopBox .footerLink li{width: 33.33%; gap: 0 0;}
  #footerSection .footerWrap .footerTopBox .footerLink li a{display: block; text-align: center;}

}

@media (max-width: 480px){

  #footerSection .footerWrap .footerTopBox .footerLink > li{width: 50%;}
  #footerSection .footerWrap .footerInfoBox .infoList02 li, 
  #footerSection .footerWrap .footerInfoBox .infoList01 li, 
  #footerSection .footerWrap .footerInfoBox .copy{font-size: 14px;}
  #footerSection .footerWrap .footerInfoBox .infoList02 li{margin-bottom: 7px; width: 100%; text-align: center;}
  #footerSection .footerWrap .footerInfoBox .infoList02 li:last-child{margin-bottom: 0;}
  #footerSection .footerWrap .footerInfoBox .infoList01 li{margin-bottom: 7px;}

}