@charset "UTF-8";

/* 가운데영역 */
.container{max-width: 1320px; padding: 0 20px; margin: 0 auto;}

/* 공통 */
.subContentBox{padding: 0 0 100px;}
.tableWrap{width: 100%;}
table{width: 100%; border: 2px solid #000; border-width: 2px 0; border-collapse: collapse; table-layout: fixed;}
table tbody tr {border-bottom: 1px solid #ddd;}
table tbody th {padding: 20px 20px; color: #444; letter-spacing: 3px; font-weight: 400; background: #f1f1f1;
  vertical-align: top;}
table tbody td {padding: 20px 20px 20px 28px; color: #414141;}

/* 모바일 이미지 크게 보기 */
.zoomViewBox{position: relative;}
.zoomViewBox .zoomView{display: none; position: absolute; bottom: 0px; right: 0px; width: 42px; height: 42px; background: url(../images/common/zoomview_icon.png) no-repeat; background-size: 42px 42px;}

.tit{font-size: 30px; color: #202020;}

@media (max-width: 1199px){

  .tit{font-size: 26px;}

}

@media (max-width: 768px) {

  .tableWrap { padding-bottom: 20px; overflow-x: auto; }
  table {width: 720px; }
  table tbody th,
  table tbody td {padding: 15px; font-size: 14px;}

  .zoomViewBox .zoomView{display: block; bottom: 20px; right: 20px;}

  .tit{font-size: 22px;}

}

@media (max-width: 480px){

  .tit{font-size: 20px;}

}

/* 서브 헤더 */
#headerWrap.hover .logoBox h1 a img,
#headerWrap.scroll .logoBox h1 a img{display: none;}
#headerWrap.hover .logoBox h1 a img.scrollLogo,
#headerWrap.scroll .logoBox h1 a img.scrollLogo{display: block;}
#headerWrap.hover .infoBox .bar,
#headerWrap.scroll .infoBox .bar{background-color: #222;}
#headerWrap.hover .menu .depth01 li h2 a span,
#headerWrap.hover .infoBox a,
#headerWrap.scroll .infoBox a,
#headerWrap.scroll .menu .depth01 li h2 a span{color: #222;}
#headerWrap.hover .infoBox .call::before
#headerWrap.scroll .infoBox .call::before{background: url(../images/common/call_icon.png) no-repeat center;}
#headerWrap.hover .infoBox .reg::after,
#headerWrap.scroll .infoBox .reg::after{background: url(../images/common/arrow_icon01.png) no-repeat center;}

#headerWrap .logoBox h1 a img.scrollLogo{display: none;}
#headerWrap .menu .depth01 li h2 a span,
#headerWrap .infoBox a{color: #fff;}
#headerWrap .infoBox .call::before{background: url(../images/common/call_icon02.png) no-repeat center;}
#headerWrap .infoBox .reg::after{background: url(../images/common/arrow_icon02.png) no-repeat center;}
#headerWrap .infoBox .bar{background-color: #fff;}
#headerWrap .logoBox h1 a img{width: 138px;}

/* 서브 브레드크럼 */
.breadcrumbBox{padding: 34px 20px;}
.breadcrumbBox .breadcrumb{display: flex; align-items: center; justify-content: center; gap: 0 19px;}
.breadcrumbBox .breadcrumb li{display: flex; align-items: center; gap: 0 21px;}
.breadcrumbBox .breadcrumb li::before{content: ''; height: 11px; width: 1px; background-color: #666;}
.breadcrumbBox .breadcrumb li:first-child::before{display: none;}
.breadcrumbBox .breadcrumb li a{display: block; text-transform: uppercase; font-weight: 500; color: #666;}
.breadcrumbBox .breadcrumb li .home{width: 10px; height: 11px; background: url(../images/sub/home.png) no-repeat center;}
.breadcrumbBox .breadcrumb li:last-child a{color: #ce8215;}

/*I 서브 상단 */
.subTopTitleBox{padding: 0 20px; position: relative; height: 430px; }
.subTopTitleBox .imgBox{position: absolute; top: 0; left:0; right:0; bottom: 0; overflow: hidden;} 
.subTopTitleBox .imgBox img{display: block; width: 100%; height: 100%; object-fit: cover; transform: scale(1.3); transition: all 3.5s;}
.subTopTitleBox h2{width: 100%; position: absolute; top: 57%; left: 50%; transform: translate(-50%, -50%); text-align: center;}
.subTopTitleBox h2 span{display: inline-block; opacity: 0; transform: translateY(50px); text-transform: uppercase; font-weight: 700; color: #fff; font-size: 48px; letter-spacing: 12px; transition: all 1.3s;}
.subTopTitleBox h2 span:nth-child(1){transition-delay: .1s;}
.subTopTitleBox h2 span:nth-child(2){transition-delay: .2s;}
.subTopTitleBox h2 span:nth-child(3){transition-delay: .3s;}
.subTopTitleBox h2 span:nth-child(4){transition-delay: .4s;}
.subTopTitleBox h2 span:nth-child(5){transition-delay: .5s;}
.subTopTitleBox h2 span:nth-child(6){transition-delay: .6s;}
.subTopTitleBox h2 span:nth-child(7){transition-delay: .7s;}
.subTopTitleBox h2 span:nth-child(8){transition-delay: .8s;}
.subTopTitleBox h2 span:nth-child(9){transition-delay: .9s;}
.subTopTitleBox.active .imgBox img{transform: scale(1);}
.subTopTitleBox.active h2 span{opacity: 1; transform: translateY(0);}

@media (max-width: 1199px){

  .subTopTitleBox h2 span{font-size: 36px;}

}

@media (max-width: 767px){

  .subTopTitleBox h2 span{font-size: 28px;}

}

@media (max-width: 480px){

  .subTopTitleBox h2 span{font-size: 22px;}

}

/* 서브 제목 */
.subTitleBox{padding: 60px 0 90px;}
.subTitleBox .titleBox{text-align: center;}
.subTitleBox .titleBox h3{margin-bottom: 7px; color: #202020; font-size: 60px;}
.subTitleBox .titleBox span{display: block; color: #222; font-size: 14px; letter-spacing: 3px; word-break: keep-all;}
.subTitleBox p{text-align: center; color: #666; line-height: 1.6; letter-spacing: -1px;}
.subTitleBox .bar{display: block; width: 1px; height: 49px; margin: 30px auto; background-color: #666;} 

@media (max-width: 1199px){

  .subTitleBox .titleBox h3{font-size: 40px;}

}

@media (max-width: 767px){

  .subTitleBox .titleBox h3{font-size: 32px;}

}

@media (max-width: 480px){

  .subTitleBox .titleBox h3{font-size: 26px;}
  .subTitleBox p br{display: none;}

}

/* 사업개요 */
.subContentBox .tit{padding-left: 22px;}

@media (max-width: 1199px){

  .subContentBox .tit{padding-left: 0;}

}

/* 입지환경 */
.environmentBox .mapBox img{display: block; width: 100%; height: 100%; object-fit: cover;} 
.environmentBox .environmentInfoBox{padding: 130px 100px; min-height: 973px; background: url(../images/sub/environment/environment_bg.jpg)no-repeat center bottom / cover;}
.environmentBox .environmentInfoBox .title{font-size: 36px; color: #fff; line-height: 1.3; font-weight: 300; letter-spacing: -1px;}
.environmentBox .environmentInfoBox .title strong{font-size: 48px; font-weight: 700;}
.environmentBox .environmentInfoBox .bar{margin: 56px 0; display: block; width: 74px; height: 1px; background-color: #fff;} 
.environmentBox .environmentInfoBox .text{margin-bottom: 60px; font-weight: 300; color: #fff; line-height: 1.6;}
.environmentBox .environmentInfoList{display: flex; flex-wrap: wrap; gap: 60px 20px;}
.environmentBox .environmentInfoList li .imgBox{margin-bottom: 45px;}
.environmentBox .environmentInfoList li .imgBox img{display: block; width: 100%;} 
.environmentBox .environmentInfoList li h4{margin-bottom: 30px; font-size: 22px; color: #fff;}
.environmentBox .environmentInfoList li .infoList li{font-weight: 300; color: #fff; font-size: 14px; font-weight: 300; line-height: 1.7; letter-spacing: -1px;}

@media (max-width: 1199px){

  .environmentBox .environmentInfoBox{padding: 130px 50px;}
  .environmentBox .environmentInfoBox .title{font-size: 36px; text-align: center;}
  .environmentBox .environmentInfoBox .title strong{font-size: 44px;}
  .environmentBox .environmentInfoBox .text{text-align: center;}
  .environmentBox .environmentInfoList{justify-content: center;}
  .environmentBox .environmentInfoBox .bar{margin: 50px auto;}
  .environmentBox .environmentInfoList li h4{text-align: center;}
  .environmentBox .environmentInfoList li{text-align: center;}
  
}

@media (max-width: 1024px){

  .environmentBox .environmentInfoBox .title{font-size: 24px;}
  .environmentBox .environmentInfoBox .title strong{font-size: 32px;}
  .environmentBox .environmentInfoBox .bar{width: 42px;}
  .environmentBox .environmentInfoBox .text br{display: none;}

}

@media (max-width: 767px){

  .environmentBox .environmentInfoBox{padding: 100px 20px;}
  .environmentBox .environmentInfoList li h4{margin-bottom: 20px; font-size: 20px;}
  .environmentBox .environmentInfoBox .title{font-size: 22px;}
  .environmentBox .environmentInfoBox .title strong{font-size: 26px;}
  .environmentBox .environmentInfoBox .bar{width: 36px;}
  .environmentBox .environmentInfoBox .text br{display: none;}
  .environmentBox .environmentInfoList li .imgBox{margin-bottom: 30px;}

}

/* 오시는 길 */
.directionsBox .directionsMapBox .layouyBox{display: flex;}
.directionsBox .directionsMapBox .directionsImgBox{display: flex; align-items: center; justify-content: center; background-color: #f3f3f3;}
.directionsBox .directionsMapBox .directionsImgBox img{display: block; width: 100%;}
.directionsBox .directionsMapBox .directionsInfoBox .logoBox{margin-bottom: 45px;}
.directionsBox .directionsMapBox .directionsInfoBox .logoBox img{display: block; margin: 0 auto; max-width: 100%;}
.directionsBox .directionsMapBox .directionsInfoBox span{display: block; margin-bottom: 25px; font-size: 18px; color: #4b4b4b; font-weight: 500;}
.directionsBox .directionsMapBox .directionsInfoBox{ width: 387px; padding: 70px 52px 100px; background: url(../images/sub/directions/bg.jpg)no-repeat center / cover;}
.directionsBox .directionsMapBox .directionsInfoBox .mapBtnBox .mapLink{margin-bottom: 20px;}
.directionsBox .directionsMapBox .directionsInfoBox .mapBtnBox .mapLink:last-child{margin-bottom: 0;}
.directionsBox .directionsMapBox .directionsInfoBox .mapBtnBox a,
.directionsBox .directionsMapBox .directionsInfoBox .mapBtnBox img{display: block;}
.directionsBox .directionsMapBox .directionsInfoBox .mapBtnBox img{max-width: 100%;}
.directionsBox .directionsMapBox .directionsInfoList{padding: 20px; display: flex; flex-wrap: wrap; align-items: center; justify-content: center; gap: 20px 26px; background-color: #4872a9;}
.directionsBox .directionsMapBox .directionsInfoList dl{display: flex; font-size: 18px; color: #fff;}
.directionsBox .directionsMapBox .directionsInfoList dl dt{display: inline-flex; flex-shrink: 0;}
.directionsBox .directionsMapBox .directionsInfoList dl dt::after{content: ":"; display: inline-block; margin: 0 6px;}


@media (max-width: 1480px){

  .directionsBox .directionsMapBox .directionsInfoList{gap: 20px 0; justify-content: flex-start;}
  .directionsBox .directionsMapBox .directionsInfoList dl{width: 50%; justify-content: center; font-size: 16px;}

}

@media (max-width: 1024px){

  .directionsBox .directionsMapBox .layouyBox{flex-direction: column;} 
  .directionsBox .directionsMapBox .directionsInfoBox{padding: 50px 20px; width: 100%;}
  .directionsBox .directionsMapBox .directionsInfoBox span{text-align: center;}
  .directionsBox .directionsMapBox .directionsInfoBox .mapBtnBox img{margin: 0 auto;}

}

@media (max-width: 767px){

  .directionsBox .directionsMapBox .directionsInfoList dl{gap: 6px 0; flex-direction: column; align-items: center;}
  .directionsBox .directionsMapBox .directionsInfoList dl dt::after{display: none;}

}

@media (max-width: 480px){

  .directionsBox .directionsMapBox .directionsInfoList{gap: 30px 0; padding: 40px 20px;}
  .directionsBox .directionsMapBox .directionsInfoList dl{width: 100%;}

}

/* 언론보도 */
.boardList li{margin-bottom: 20px;}
.boardList li:last-child{margin-bottom: 0;}
.boardList li a{display: block; padding: 50px; border: 1px solid #ddd; transition: all .3s;}
.boardList li a h4{margin-bottom: 5px; font-size: 20px; color: #353535;} 
.boardList li a h4 strong{color: #b36f40; font-weight: 600;}
.boardList li a p{margin-bottom: 5px; font-size: 14px; color: #666; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; font-weight: 500;}
.boardList li a .date{font-size: 14px; color: #777; font-weight: 500;}
.boardList li a:hover {transform: translateY(-6px); border-color: #b36f40; box-shadow: 0 12px 30px rgba(0, 0, 0, 0.08);}
.boardList li a:hover h4{color: #b36f40;}
.boardList li a:hover .date {color: #b36f40;}

@media (max-width: 1199px){

  .boardList li a{padding: 30px 20px;}
  .boardList li a h4{font-size: 18px;}

}

@media (max-width: 768px){

  .boardList li a h4{font-size: 16px;}

}

/* 홍보영상 */
.promotionBox video{display: block; width: 100%; height: 100%; object-fit: cover;}
.tabList{display: flex; flex-wrap: wrap; margin-bottom: 40px;}
.tabList li {flex: 1;}
.tabList li .tabBtn{width: 100%; padding: 22px 10px; display: block; font-size: 18px; color: #fff; font-weight: 500;}
.tabList li .tabBtn.active{background-color: #9d6825!important;}
.tabList li:nth-child(odd) .tabBtn{background-color: #a8a8a8;}
.tabList li:nth-child(even) .tabBtn{background-color: #9b9b9b;}
.promotionBox .tabContent{position: relative; height: 0; padding-top: 56%;}
.promotionBox .tabContent video{position: absolute; top:0; left:0; right:0; bottom: 0;}

@media(max-width: 1199px){

  .tabList li .tabBtn{padding: 15px 10px; font-size: 16px;}

}

@media (max-width: 767px) {

  .tabList li{flex: 1 1 100%;}
  
}

@media (max-width: 480px) {

 .promotionBox .tabContent{padding-top: 80%;}
  
}

/* 브랜드소개 */
.brandBox .brandTopBox{margin-bottom: 200px; padding: 110px 20px 20px 110px; height: 800px; background: url(../images/sub/brand/brand_bg.jpg)no-repeat center / cover;}
.brandBox .brandTopBox .brandTopTit{ margin-bottom: 25px; font-weight: 700; color: #fff; font-size: 60px; line-height: 1.2; text-transform: uppercase;}
.brandBox .brandTopBox .brandTopText{width: 305px; display: inline-block; margin-bottom: 35px; padding: 20px 0; font-size: 18px; color: #fff; border: 1px solid #fff; border-width: 1px 0; line-height: 1.3; letter-spacing: -1px;}
.brandBox .brandTopBox .brandTopText strong{margin-bottom: 10px; display: block; font-size: 24px;}
.brandBox .brandTopBox .logoBox img{display: block; max-width: 100%;}
.brandBox .brandIntroduceBox{display: flex; flex-direction: column; gap: 160px 0;}
.brandBox .brandIntroduceBox .layoutBox{display: flex; justify-content: space-between; align-items: center;}
.brandBox .brandIntroduceBox .layoutBox:nth-child(2){flex-direction: row-reverse;}
.brandBox .brandIntroduceBox .brandImgBox img{display: block; max-width: 100%;}

@media (max-width: 1199px){

  .brandBox .brandTopBox{display: flex;  flex-direction: column; align-items: center; justify-content: center;  padding: 70px 20px; margin-bottom: 150px; text-align: center;}
  .brandBox .brandTopBox .brandTopTit{font-size: 46px;}
  .brandBox .brandIntroduceBox .layoutBox{flex-direction: column!important; gap: 60px 0;}

}

@media (max-width: 767px){

  .brandBox .brandIntroduceBox .layoutBox{gap: 48px 0;}
  .brandBox .brandTopBox{height: 600px; margin-bottom: 90px; text-align: center;}
  .brandBox .brandTopBox .brandTopTit{font-size: 32px;}
  .brandBox .brandIntroduceBox{gap: 120px 0;}


}

.textBox{text-align: center;}
.textBox .topText{display: block; margin-bottom: 40px; font-size: 44px; color: #000; font-family: 'OoohBaby';}
.textBox .title{margin-bottom: 55px; font-size: 44px; color: #202020; line-height: 1.2; letter-spacing: -2px; word-break: keep-all;}
.textBox .title strong{font-size: 54px; color: #202020;}
.textBox .text{color: #666; font-weight: 500;}

@media (max-width: 1199px){

  .textBox .title,
  .textBox .topText{font-size: 40px;}
  .textBox .topText{margin-bottom: 25px;}
  .textBox .title{margin-bottom: 40px;}
  .textBox .title strong{font-size: 50px;}

}

@media (max-width: 767px){

  .textBox .title,
  .textBox .topText{font-size: 32px;}
  .textBox .title{margin-bottom: 32px;}
  .textBox .title strong{font-size: 42px;}

}


@media (max-width: 480px){

  .textBox .topText{margin-bottom: 15px;}
  .textBox .title,
  .textBox .topText{font-size: 22px;}
  .textBox .title{margin-bottom: 22px;}
  .textBox .title strong{font-size: 32px;}
  .textBox .text br{display: none;}

}

/* 뷰 */
.viewBox .viewTopImgBox{position: relative; margin-bottom: -450px; display: flex; justify-content: flex-end;}
.viewBox .viewTopImgBox img{display: block; max-width: 100%;}
.viewBox .viewContetnBox01{ padding-bottom: 72px; display: flex; flex-direction: column; justify-content: flex-end; max-width: 640px; width: 100%; height: 1320px; background: url(../images/sub/view/view_bg.jpg)no-repeat center;}
.viewBox .viewContetnBox01 .textBox{margin-bottom: 100px;}
.viewBox .viewContetnBox01 .textBox .topText,
.viewBox .viewContetnBox01 .textBox .title,
.viewBox .viewContetnBox01 .textBox .text,
.viewBox .viewContetnBox01 .textBox .title strong{color: #fff;}
.viewBox .viewContetnBox01 .imgBox img{display: block; margin: 0 auto; max-width: 100%;}
.viewBox .viewContetnBox02{max-width: 578px; display: flex; flex-direction: column; align-items: flex-end;}
.viewBox .viewContetnBox02 dl{display: flex; gap: 0 15px; margin-bottom: 10px;}
.viewBox .viewContetnBox02 dl:last-child{margin-bottom: 0;}
.viewBox .viewContetnBox02 dl dt{width: 162px; font-size: 15px; color: #8f7542; font-weight: 500;}
.viewBox .viewContetnBox02 dl:nth-child(2) dt{letter-spacing: 1.5px;}
.viewBox .viewContetnBox02 dl dd{font-size: 14px; color: #666; font-weight: 500;}
.viewBox .viewContetnBox02 .viewText{ display: flex; flex-direction: column; justify-content: center; height: 210px;}
.viewBox .viewContetnBox02 .imgBox img{display: block; max-width: 100%;}
.viewBox .layoutBox{display: flex; align-items: flex-end; gap: 0 62px;}
.viewBox .viewContetnBox01 .textBox .title{font-size: 35px;}
.viewBox .viewContetnBox01 .textBox .title strong{font-size: 44px;}

@media (max-width: 1280px){

  .viewBox .layoutBox{flex-direction: column; align-items: center;}
  .viewBox .viewTopImgBox{margin: 0; justify-content: center;}
  .viewBox .viewContetnBox01{padding: 60px 20px; height: auto;}
  .viewBox .viewContetnBox01 .textBox{margin-bottom: 60px;}

}

@media (max-width: 767px){

  .viewBox .viewContetnBox02{align-items: center;}
  .viewBox .viewContetnBox02 .viewText{padding: 30px 0; gap: 10px 0; height: auto;}
  .viewBox .viewContetnBox02 dl{flex-direction: column; align-items: center; text-align: center;}

  .viewBox .viewContetnBox01 .textBox .title{font-size: 26px;}
  .viewBox .viewContetnBox01 .textBox .title strong{font-size: 35px;}

}

@media (max-width: 480px){

  .viewBox .viewContetnBox01{padding: 50px 20px;}
  .viewBox .viewContetnBox01 .textBox{margin-bottom: 50px;}

  .viewBox .viewContetnBox01 .textBox .title{font-size: 22px;}
  .viewBox .viewContetnBox01 .textBox .title strong{font-size: 28px;}

}

/* 타입 평면 */
.planeBox .tabList li .tabBtn.active{background-color: #002c58!important;}
.planeBox .planeTopInfoBox{display: flex;}
.planeBox .planeTopInfoBox .imgBox{flex-shrink: 0;}
.planeBox .planeTopInfoBox .imgBox img{display: block;}
.planeBox .planeTopInfoBox .planeTextBox{display: flex; flex-direction: column; width: 100%; }
.planeBox .planeTopInfoBox .planeTextBox .planetTopText{padding: 16px 20px 15px 30px; border-bottom: 1px solid #ddd; background-color: #f1f1f1;}
.planeBox .planeTopInfoBox .planeTextBox .planetTopText h4{font-size: 60px; color: #cda657; letter-spacing: -2px;}
.planeBox .planeTopInfoBox .planeTextBox .planetTopText p{font-size: 20px; color: #444; font-weight: 500; letter-spacing: -1px;}
.planeBox .planeTopInfoBox .planeTextBox .planetInfoText{padding: 12px 20px 12px 30px; display: flex; gap: 0 20px; background-color: #fff; border-bottom: 1px solid #ddd;}
.planeBox .planeTopInfoBox .planeTextBox .planetInfoText dl{display: flex; gap: 0 6px; color: #666; font-weight: 500;}
.planeBox .planeImgBox img{display: block; width: 100%;}
.planeBox .planeInfoList{padding: 50px; background-color: #e8e8e8;}
.planeBox .planeInfoList li{font-size: 13px; color: #777; line-height: 1.3; font-weight: 500;}

@media (max-width: 1199px){

  .planeBox .planeTopInfoBox .planeTextBox .planetTopText{padding: 28px 20px 27px 30px;}
  .planeBox .planeTopInfoBox .planeTextBox .planetTopText h4{font-size: 46px;}
  .planeBox .planeTopInfoBox .planeTextBox .planetTopText p{font-size: 18px;}

}

@media (max-width: 1024px){

  .planeBox .planeTopInfoBox .planeTextBox .planetTopText{text-align: center;}
  .planeBox .planeTopInfoBox{flex-direction: column; gap: 20px 0;}
  .planeBox .planeTopInfoBox .imgBox img{margin: 0 auto;}
  .planeBox .planeTopInfoBox .planeTextBox .planetInfoText{padding: 10px 20px; justify-content: center;}

}

@media (max-width: 767px){

  .planeBox .planeInfoList{padding: 30px 20px;}
  .planeBox .planeTopInfoBox .planeTextBox .planetTopText{padding: 30px 20px;}
  .planeBox .planeTopInfoBox .planeTextBox .planetTopText h4{margin-bottom: 7px; font-size: 32px;}
  .planeBox .planeTopInfoBox .planeTextBox .planetTopText p{font-size: 16px;}
  .planeBox .planeTopInfoBox .planeTextBox .planetInfoText{padding: 20px; flex-wrap: wrap; align-items: center; gap: 15px 0;}
  .planeBox .planeTopInfoBox .planeTextBox .planetInfoText dl{width: 50%; justify-content: center;}

}

@media (max-width: 480px){

  .planeBox .planeTopInfoBox .planeTextBox .planetTopText h4{font-size: 26px;}
  .planeBox .planeTopInfoBox .planeTextBox .planetInfoText dl{font-size: 14px;}

}

/* 인테리어 */
.interiorBox .interiorImgBox{height: 735px;}
.interiorBox .interiorImgBox img{display: block; width: 100%; height: 100%; object-fit: cover;}
.interiorBox .interiorTextBox{padding: 60px 90px 90px; background: url(../images/sub/interior/bg.jpg)no-repeat center / cover;}
.interiorBox .interiorTextBox h4{margin-bottom: 15px; font-size: 60px; color: #7a4f2a; font-weight: 300; letter-spacing: -1px;}
.interiorBox .interiorTextBox h4 strong{font-weight: 700;}
.interiorBox .interiorTextBox .title{flex-shrink: 0; font-size: 30px; line-height: 1.2; letter-spacing: -1px;}
.interiorBox .interiorTextBox .title strong{font-size: 36px;}
.interiorBox .interiorTextBox .text{font-weight: 500; color: #666;}
.interiorBox .layoutBox{display: flex; align-items: center;}
.interiorBox .bar{margin: 0 60px; width: 1px; height: 70px; background-color: #737574;}
.interiorBox .slideImgWrap{margin: 0;}
.interiorBox .slideImgWrap .slideNavImg .btn.slick-current{border: 3px solid #9d6825;}

@media (max-width: 1199px){

  .interiorBox .interiorTextBox{padding: 60px 20px 80px; text-align: center;}
  .interiorBox .interiorTextBox h4{font-size: 46px;}
  .interiorBox .interiorTextBox .title{font-size: 26px;}
  .interiorBox .interiorTextBox .title strong{font-size: 32px;}
  .interiorBox .layoutBox{flex-direction: column;}
  .interiorBox .bar{margin: 60px 0; width: 40px; height: 1px;}

}

@media (max-width: 767px){

  .interiorBox .interiorTextBox{padding: 60px 20px;}
  .interiorBox .interiorTextBox h4{font-size: 36px;}
  .interiorBox .interiorTextBox .title{font-size: 22px;}
  .interiorBox .interiorTextBox .title strong{font-size: 28px;}
  .interiorBox .bar{margin: 40px 0; width: 30px;}

}

@media (max-width: 480px){

  .interiorBox .interiorTextBox{padding: 50px 20px;}
  .interiorBox .interiorTextBox h4{font-size: 30px;}
  .interiorBox .interiorTextBox .title{font-size: 18px;}
  .interiorBox .interiorTextBox .title strong{font-size: 24px;}

}

/* 공통 - 썸네일 슬라이드 */
.slideImgWrap{position: relative; margin-bottom: 60px;}
.slideImgWrap .slideMainImg .imgBox {height: 800px;}
.slideImgWrap .slideMainImg .imgBox img{display: block; width: 100%; height: 100%; object-fit: cover;}
.slideImgWrap .slideNavImg{display: flex; gap: 0 20px; position: absolute; left:28px; right: 0; bottom: 20px; z-index: 9;}
.slideImgWrap .slideNavImg .btn{position: relative; margin-right: 20px; display: block; width: 200px; height: 125px;}
.slideImgWrap .slideNavImg .btn::after{content: ''; position: absolute; top:0; left:0; right:0; bottom: 0; background-color: rgba(0,0,0,.5);}
.slideImgWrap .slideNavImg .btn.slick-current{border: 3px solid #d2b54b;}
.slideImgWrap .slideNavImg .btn.slick-current::after{display: none;}
.slideImgWrap .slideNavImg .btn img{display: block; width: 100%; height: 100%; object-fit: cover;}

@media (max-width: 1199px){

  .slideImgWrap .slideMainImg .imgBox {height: 600px;}
  .slideImgWrap .slideNavImg{position: static; margin-top: 20px;}

}

@media (max-width: 767px){

  .slideImgWrap .slideMainImg .imgBox {height: 350px;}
  .slideImgWrap .slideNavImg{width: 767px; gap: 0 10px;}
  .slideImgWrap .slideNavImg .btn{width: 150px; height: 100px; margin-right: 10px;}
  .slideImgWrap .slideNavImg .btn.active{border: 2px solid #d2b54b;}

}

/* 어메니티 */
.amenityBox .amenityTopImgBox{position: relative; margin-bottom: -512px; display: flex;}
.amenityBox .amenityTopImgBox img{display: block; max-width: 100%;}
.amenityBox .amenityContetnBox01{ padding-bottom: 72px; display: flex; flex-direction: column; justify-content: flex-end; max-width: 640px; width: 100%; height: 1320px; background: url(../images/sub/amenity/bg.jpg)no-repeat center;}
.amenityBox .amenityContetnBox01 .textBox{margin-bottom: 60px;}
.amenityBox .amenityContetnBox01 .textBox .topText,
.amenityBox .amenityContetnBox01 .textBox .title,
.amenityBox .amenityContetnBox01 .textBox .text,
.amenityBox .amenityContetnBox01 .textBox .title strong{color: #292929;}
.amenityBox .amenityContetnBox01 .imgBox img{display: block; margin: 0 auto; max-width: 100%;}
.amenityBox .amenityContetnBox02{width: 617px; display: flex; flex-direction: column; align-items: flex-end;}
.amenityBox .amenityContetnBox02 dl{display: flex; gap: 0 27px; margin-bottom: 10px;}
.amenityBox .amenityContetnBox02 dl:last-child{margin-bottom: 0;}
.amenityBox .amenityContetnBox02 dl dt{flex-shrink: 0; font-size: 15px; color: #8f7542; font-weight: 500;}
.amenityBox .amenityContetnBox02 dl:nth-child(2) dt{letter-spacing: 1.5px;}
.amenityBox .amenityContetnBox02 dl dd{font-size: 14px; color: #666; font-weight: 500;}
.amenityBox .amenityContetnBox02 .amenityText{width: 100%; padding: 60px 20px 60px 40px; display: flex; flex-direction: column; justify-content: center;}
.amenityBox .amenityContetnBox02 .imgBox img{display: block; max-width: 100%;}
.amenityBox .layoutBox{margin-bottom: 20px; display: flex; flex-direction: row-reverse; align-items: flex-end; justify-content: flex-end; gap: 0 22px;}
.amenityBox .amenityContetnBox02 dl:nth-child(2) dt,
.amenityBox .amenityContetnBox02 dl:nth-child(5) dt,
.amenityBox .amenityContetnBox02 dl:nth-child(6) dt{letter-spacing: 2.8px;}
.amenityBox .amenityContetnBox01 .textBox .title{font-size: 35px;}
.amenityBox .amenityContetnBox01 .textBox .title strong{font-size: 44px;}
.amenityBox .amenityInfoBox{display: flex;}
.amenityBox .amenityInfoBox img{display: block; width: 100%;}
.amenityBox .amenityInfoBox .zoomViewBox .zoomView{display: block; width: 60px; height: 60px; top:0; right:0; bottom: auto;     background: url(../images/sub/amenity/zoomview_icon.png) no-repeat center / contain;}

@media (max-width: 1280px){

  .amenityBox .layoutBox{flex-direction: column; align-items: center;}
  .amenityBox .amenityTopImgBox{margin: 0; justify-content: center;}
  .amenityBox .amenityContetnBox01{padding: 60px 20px; height: auto;}

}

@media (max-width: 767px){

  .amenityBox .amenityContetnBox02{width: 100%; align-items: center;}
  .amenityBox .amenityContetnBox02 .amenityText{padding: 30px 20px; gap: 10px 0; height: auto;}
  .amenityBox .amenityContetnBox02 dl{flex-direction: column; align-items: center; text-align: center;}

  .amenityBox .amenityContetnBox01 .textBox .title{font-size: 26px;}
  .amenityBox .amenityContetnBox01 .textBox .title strong{font-size: 35px;}
  .amenityBox .amenityInfoBox{display: block;}

}

@media (max-width: 480px){

  .amenityBox .amenityContetnBox01{padding: 50px 20px;}
  .amenityBox .amenityContetnBox01 .textBox{margin-bottom: 50px;}

  .amenityBox .amenityContetnBox01 .textBox .title{font-size: 22px;}
  .amenityBox .amenityContetnBox01 .textBox .title strong{font-size: 28px;}


}
