@charset "UTF-8";

/* 가운데영역 */
.container{max-width: 1320px; padding: 0 20px; margin: 0 auto;}

/* 공통 */
.subContentBox{padding: 0 0 100px;}
.tableWrap{width: 100%;}
table{width: 100%; border: 2px solid #000; border-width: 2px 0; border-collapse: collapse; table-layout: fixed;}
table tbody tr {border-bottom: 1px solid #444;}
table tbody th {padding: 20px 20px; color: #444; letter-spacing: 3px; font-weight: 400; background: #f1f1f1;
  vertical-align: top;}
table tbody td {padding: 20px 20px 20px 28px; color: #414141;}
@media (max-width: 768px) {

  .tableWrap { padding-bottom: 20px; overflow-x: auto; }
  table {width: 720px; }
  table tbody th,
  table tbody td {padding: 15px; font-size: 14px;}

}
.tit{font-size: 30px; color: #202020;}


/* 모바일 이미지 크게 보기 */
.zoomViewBox{position: relative;}
.zoomViewBox .zoomView{display: none; position: absolute; bottom: 0px; right: 0px; width: 42px; height: 42px; background: url(../images/common/zoomview_icon.png) no-repeat; background-size: 42px 42px;}

@media (max-width: 767px){

  .zoomViewBox .zoomView{display: block; bottom: 20px; right: 20px;}
  
}


/* 서브 헤더 */
#headerWrap.hover .logoBox h1 a img,
#headerWrap.scroll .logoBox h1 a img{display: none;}
#headerWrap.hover .logoBox h1 a img.scrollLogo,
#headerWrap.scroll .logoBox h1 a img.scrollLogo{display: block;}
#headerWrap.hover .infoBox .bar,
#headerWrap.scroll .infoBox .bar{background-color: #222;}
#headerWrap.hover .menu .depth01 li h2 a span,
#headerWrap.hover .infoBox a,
#headerWrap.scroll .infoBox a,
#headerWrap.scroll .menu .depth01 li h2 a span{color: #222;}
#headerWrap.hover .infoBox .call::before
#headerWrap.scroll .infoBox .call::before{background: url(../images/common/call_icon.png) no-repeat center;}
#headerWrap.hover .infoBox .reg::after,
#headerWrap.scroll .infoBox .reg::after{background: url(../images/common/arrow_icon01.png) no-repeat center;}

#headerWrap .logoBox h1 a img.scrollLogo{display: none;}
#headerWrap .menu .depth01 li h2 a span,
#headerWrap .infoBox a{color: #fff;}
#headerWrap .infoBox .call::before{background: url(../images/common/call_icon02.png) no-repeat center;}
#headerWrap .infoBox .reg::after{background: url(../images/common/arrow_icon02.png) no-repeat center;}
#headerWrap .infoBox .bar{background-color: #fff;}
#headerWrap .logoBox h1 a img{width: 138px;}

/* 서브 브레드크럼 */
.breadcrumbBox{padding: 34px 20px;}
.breadcrumbBox .breadcrumb{display: flex; align-items: center; justify-content: center; gap: 0 19px;}
.breadcrumbBox .breadcrumb li{display: flex; align-items: center; gap: 0 21px;}
.breadcrumbBox .breadcrumb li::before{content: ''; height: 11px; width: 1px; background-color: #666;}
.breadcrumbBox .breadcrumb li:first-child::before{display: none;}
.breadcrumbBox .breadcrumb li a{display: block; text-transform: uppercase; font-weight: 500; color: #666;}
.breadcrumbBox .breadcrumb li .home{width: 10px; height: 11px; background: url(../images/sub/home.png) no-repeat center;}
.breadcrumbBox .breadcrumb li:last-child a{color: #ce8215;}

/*I 서브 상단 */
.subTopTitleBox{padding: 0 20px; position: relative; height: 430px; }
.subTopTitleBox .imgBox{position: absolute; top: 0; left:0; right:0; bottom: 0; overflow: hidden;} 
.subTopTitleBox .imgBox img{display: block; width: 100%; height: 100%; object-fit: cover; transform: scale(1.3); transition: all 3.5s;}
.subTopTitleBox h2{width: 100%; position: absolute; top: 57%; left: 50%; transform: translate(-50%, -50%); text-align: center;}
.subTopTitleBox h2 span{display: inline-block; opacity: 0; transform: translateY(50px); text-transform: uppercase; font-weight: 700; color: #fff; font-size: 48px; letter-spacing: 12px; transition: all 1.3s;}
.subTopTitleBox h2 span:nth-child(1){transition-delay: .1s;}
.subTopTitleBox h2 span:nth-child(2){transition-delay: .2s;}
.subTopTitleBox h2 span:nth-child(3){transition-delay: .3s;}
.subTopTitleBox h2 span:nth-child(4){transition-delay: .4s;}
.subTopTitleBox h2 span:nth-child(5){transition-delay: .5s;}
.subTopTitleBox h2 span:nth-child(6){transition-delay: .6s;}
.subTopTitleBox h2 span:nth-child(7){transition-delay: .7s;}
.subTopTitleBox h2 span:nth-child(8){transition-delay: .8s;}
.subTopTitleBox.active .imgBox img{transform: scale(1);}
.subTopTitleBox.active h2 span{opacity: 1; transform: translateY(0);}

@media (max-width: 1199px){

  .subTopTitleBox h2 span{font-size: 36px;}

}

@media (max-width: 767px){

  .subTopTitleBox h2 span{font-size: 28px;}

}

@media (max-width: 480px){

  .subTopTitleBox h2 span{font-size: 22px;}

}

/* 서브 제목 */
.subTitleBox{padding: 60px 0 90px;}
.subTitleBox .titleBox{text-align: center;}
.subTitleBox .titleBox h3{margin-bottom: 7px; color: #202020; font-size: 60px;}
.subTitleBox .titleBox span{display: block; color: #222; font-size: 14px; letter-spacing: 3px; word-break: keep-all;}
.subTitleBox p{text-align: center; color: #666; line-height: 1.6; letter-spacing: -1px;}
.subTitleBox .bar{display: block; width: 1px; height: 49px; margin: 30px auto; background-color: #666;} 

@media (max-width: 1199px){

  .subTitleBox .titleBox h3{font-size: 40px;}

}

@media (max-width: 767px){

  .subTitleBox .titleBox h3{font-size: 32px;}

}

@media (max-width: 767px){

  .subTitleBox .titleBox h3{font-size: 26px;}

}

/* 사업개요 */
.subContentBox .tit{padding-left: 22px;}
.subContentBox .overviewBox .overviewImgWrap{position: relative; margin-bottom: 60px;}
.subContentBox .overviewBox .overviewImgBox .imgBox {height: 800px;}
.subContentBox .overviewBox .overviewImgBox .imgBox img{display: block; width: 100%; height: 100%; object-fit: cover;}
.subContentBox .overviewBox .overviewNavImg{display: flex; gap: 0 20px; position: absolute; left:28px; bottom: 20px; z-index: 9;}
.subContentBox .overviewBox .overviewNavImg .btn{ display: block; width: 200px; height: 125px;}
.subContentBox .overviewBox .overviewNavImg .btn.active{border: 3px solid #d2b54b;}
.subContentBox .overviewBox .overviewNavImg .btn img{display: block; width: 100%; height: 100%; object-fit: cover;}
.subContentBox .overviewBox .overviewNavImg .slide{margin-right: 20px;}

@media (max-width: 1199px){

  .subContentBox .overviewBox .overviewImgBox .imgBox {height: 600px;}
  .subContentBox .overviewBox .overviewNavImg{position: static; margin-top: 20px;}

}

@media (max-width: 767px){

  .subContentBox .overviewBox .overviewImgBox .imgBox {height: 350px;}
  .subContentBox .overviewBox .overviewNavImg{width: 767px; gap: 0 10px;}
  .subContentBox .overviewBox .overviewNavImg .btn{width: 150px; height: 100px;}
  .subContentBox .overviewBox .overviewNavImg .btn.active{border: 2px solid #d2b54b;}

}

/* 입지환경 */
.environmentBox .mapBox img{display: block; width: 100%; height: 100%; object-fit: cover;} 
.environmentBox .environmentInfoBox{padding: 130px 100px; min-height: 973px; background: url(../images/sub/environment/environment_bg.jpg)no-repeat center bottom / cover;}
.environmentBox .environmentInfoBox .title{font-size: 36px; color: #fff; line-height: 1.3; font-weight: 300; letter-spacing: -1px;}
.environmentBox .environmentInfoBox .title strong{font-size: 48px; font-weight: 700;}
.environmentBox .environmentInfoBox .bar{margin: 56px 0; display: block; width: 74px; height: 1px; background-color: #fff;} 
.environmentBox .environmentInfoBox .text{margin-bottom: 60px; font-weight: 300; color: #fff; line-height: 1.6;}
.environmentBox .environmentInfoList{display: flex; flex-wrap: wrap; gap: 60px 20px;}
.environmentBox .environmentInfoList li .imgBox{margin-bottom: 45px;}
.environmentBox .environmentInfoList li .imgBox img{display: block; width: 100%;} 
.environmentBox .environmentInfoList li h4{margin-bottom: 30px; font-size: 22px; color: #fff;}
.environmentBox .environmentInfoList li .infoList li{font-weight: 300; color: #fff; font-size: 14px; font-weight: 300; line-height: 1.7; letter-spacing: -1px;}

@media (max-width: 1199px){

  .environmentBox .environmentInfoBox{padding: 130px 50px;}
  .environmentBox .environmentInfoBox .title{font-size: 36px; text-align: center;}
  .environmentBox .environmentInfoBox .title strong{font-size: 44px;}
  .environmentBox .environmentInfoBox .text{text-align: center;}
  .environmentBox .environmentInfoList{justify-content: center;}
  .environmentBox .environmentInfoBox .bar{margin: 50px auto;}
  .environmentBox .environmentInfoList li h4{text-align: center;}
  .environmentBox .environmentInfoList li{text-align: center;}
  
}

@media (max-width: 1024px){

  .environmentBox .environmentInfoBox .title{font-size: 24px;}
  .environmentBox .environmentInfoBox .title strong{font-size: 32px;}
  .environmentBox .environmentInfoBox .bar{width: 42px;}
  .environmentBox .environmentInfoBox .text br{display: none;}

}

@media (max-width: 767px){

  .environmentBox .environmentInfoBox{padding: 100px 20px;}
  .environmentBox .environmentInfoList li h4{margin-bottom: 20px; font-size: 20px;}
  .environmentBox .environmentInfoBox .title{font-size: 22px;}
  .environmentBox .environmentInfoBox .title strong{font-size: 26px;}
  .environmentBox .environmentInfoBox .bar{width: 36px;}
  .environmentBox .environmentInfoBox .text br{display: none;}
  .environmentBox .environmentInfoList li .imgBox{margin-bottom: 30px;}

}

/* 오시는 길 */
.directionsBox .directionsMapBox .layouyBox{display: flex;}
.directionsBox .directionsMapBox .directionsImgBox{display: flex; align-items: center; justify-content: center; background-color: #f3f3f3;}
.directionsBox .directionsMapBox .directionsImgBox img{display: block; width: 100%;}
.directionsBox .directionsMapBox .directionsInfoBox .logoBox{margin-bottom: 45px;}
.directionsBox .directionsMapBox .directionsInfoBox .logoBox img{display: block; margin: 0 auto; max-width: 100%;}
.directionsBox .directionsMapBox .directionsInfoBox span{display: block; margin-bottom: 25px; font-size: 18px; color: #4b4b4b; font-weight: 500;}
.directionsBox .directionsMapBox .directionsInfoBox{ width: 387px; padding: 70px 52px 100px; background: url(../images/sub/directions/bg.jpg)no-repeat center / cover;}
.directionsBox .directionsMapBox .directionsInfoBox .mapBtnBox .mapLink{margin-bottom: 20px;}
.directionsBox .directionsMapBox .directionsInfoBox .mapBtnBox .mapLink:last-child{margin-bottom: 0;}
.directionsBox .directionsMapBox .directionsInfoBox .mapBtnBox a,
.directionsBox .directionsMapBox .directionsInfoBox .mapBtnBox img{display: block;}
.directionsBox .directionsMapBox .directionsInfoBox .mapBtnBox img{max-width: 100%;}
.directionsBox .directionsMapBox .directionsInfoList{padding: 20px; display: flex; flex-wrap: wrap; align-items: center; justify-content: center; gap: 20px 26px; background-color: #4872a9;}
.directionsBox .directionsMapBox .directionsInfoList dl{display: flex; font-size: 18px; color: #fff;}
.directionsBox .directionsMapBox .directionsInfoList dl dt{display: inline-flex; flex-shrink: 0;}
.directionsBox .directionsMapBox .directionsInfoList dl dt::after{content: ":"; display: inline-block; margin: 0 6px;}


@media (max-width: 1480px){

  .directionsBox .directionsMapBox .directionsInfoList{gap: 20px 0; justify-content: flex-start;}
  .directionsBox .directionsMapBox .directionsInfoList dl{width: 50%; justify-content: center; font-size: 16px;}

}

@media (max-width: 1024px){

  .directionsBox .directionsMapBox .layouyBox{flex-direction: column;} 
  .directionsBox .directionsMapBox .directionsInfoBox{padding: 50px 20px; width: 100%;}
  .directionsBox .directionsMapBox .directionsInfoBox span{text-align: center;}
  .directionsBox .directionsMapBox .directionsInfoBox .mapBtnBox img{margin: 0 auto;}

}

@media (max-width: 767px){

  .directionsBox .directionsMapBox .directionsInfoList dl{gap: 6px 0; flex-direction: column; align-items: center;}
  .directionsBox .directionsMapBox .directionsInfoList dl dt::after{display: none;}

}

@media (max-width: 480px){

  .directionsBox .directionsMapBox .directionsInfoList{gap: 30px 0; padding: 40px 20px;}
  .directionsBox .directionsMapBox .directionsInfoList dl{width: 100%;}

}